.home {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;


}


.container {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.light-mode {
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: aliceblue;
    color: black;
}


.dark-mode {
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: #1A1919;
    color: white;
}

.dark-mode .color-nav{
  background-color: #393636;
}


.modeToggle {
  background-color: transparent;
  border: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.aboutMe {

}


.TopBar {
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
  font-weight: bold;
  max-height: 50px;
}

.color-nav {
  background-color: #FFEAD9;
}


.App-link {
  color: #61dafb;
}


