.lab_item {
  width: 200px;
  height: 230px;
  position: relative;
  display: inline-block;
}

.hexagon2 {
  position: absolute;
  width: 150px;
  height: 300px;
  top: -85px;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;

  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);
}

.hexagon-in2 {
/*  -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background: linear-gradient(59.82deg, #0976CE 0%, #0976CE 49.36%, #3A91D7 50.11%, #3A91D7 100%);

  -webkit-background-size: 205%;
  -moz-background-size: 205%;
  background-size: 210%;
  visibility: visible;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hexagon-in2:hover {
/*  -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  box-shadow: inset 0 0 0 0px #B0DAD4;*/
}

.hexagon-in-pep {
  -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /*background-position: 50%;*/
  background-image: url("peppers.png");

  -webkit-background-size: 210%;
  -moz-background-size: 210%;
  background-size: 210%;
  background-position: bottom -10px right -75px ;
  visibility: visible;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

.hexagon-in-pep:hover {
  -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  box-shadow: inset 0 0 0 0px #B0DAD4;
  background-size: 230%;
  background-position: bottom -26px right -85px ;
}

.hexagon-in-nin {
  -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /*background-position: 50%;*/
  background-image: url("nintendo.png");

  -webkit-background-size: 250%;
  -moz-background-size: 250%;
  background-size: 250%;
  background-position: bottom -13px left -109px;
  visibility: visible;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

.hexagon-in-nin:hover {
  -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  box-shadow: inset 0 0 0 0px #B0DAD4;
  background-size: 270%;
  background-position: bottom -26px left -122px;
}


.hexagon-in-prof {
  -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /*background-position: 50%;*/
  background-image: url("profile.png");

  -webkit-background-size: 250%;
  -moz-background-size: 250%;
  background-size: 120%;
  background-position: bottom 55px left -10px;
  visibility: visible;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

.hexagon-in-prof:hover {
  -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  box-shadow: inset 0 0 0 0px #B0DAD4;
  background-size: 140%;
  background-position: bottom 40px left -25px;
}


.hexagon-in-vrtx {
  -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /*background-position: 50%;*/
  background-image: url("vrtx.png");

  -webkit-background-size: 250%;
  -moz-background-size: 250%;
  background-size: 150%;
  background-position: bottom 50px left -30px;
  visibility: visible;

  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-120deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

.hexagon-in-vrtx:hover {
  -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  box-shadow: inset 0 0 0 0px #B0DAD4;
  background-size: 170%;
  background-position: bottom 35px left -45px;
}

